*{
    margin: 0;
    padding: 0;
}
body{
    background: url("./imgs/menuBg.jpg") center/cover no-repeat fixed;
    background-size: cover;
    color: wheat;

}
.overlay {
    background: rgba(0, 0, 0, 0.6);
    min-height: 100vh;
    min-width: 100vw;
    padding: 24px;
}

.cont{
    display: flex;
    /* width: 100vw;
    height: 100vh; */

}
h3{
    text-align: center;
    padding-top: 10%;
    font-weight: bolder;
    font-size: 48px;
}
.left{
    flex:1;
  
}
.right{
    flex: 1;
   
}
.leftCont{

    padding: 10%;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}
input,textarea, #btn{
    font-size: 15px;
    padding: 8px;
    border: none;
    border-radius: 5px;
}
input,textarea{
     background-color:#ffffff;   /* light gray */
    color: #3c280c;              /* text color */
    border: 1px solid #cbd5e1;
}


