*{
    margin: 0;
    padding: 0;
    
}
body{
    background: url("./imgs/backImg2.jpg") center/cover no-repeat fixed;
    background-size: cover;
    color: wheat;
      width: 100%;
 height: 140vh;
  

}
.overlay {
 
  top: 0;
  left: 0;
  width: 100%;
 height: 140vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 9999;
}

.cont{
    display: flex;
  
    width: 100vw;
    height: 100vh;
}
 
h3{
    text-align: center;
    padding-top: 2%;
    font-weight: bolder;
    font-size: 48px;
}
.left{
    flex:1;
  
}
.right{
    flex: 1;
}
.leftCont{

    padding:0 25%;
    
    justify-content: center;
    align-items: center;
}
input,textarea, #btn{
    font-size: 15px;
    padding: 8px;
    border: none;
    border-radius: 5px;
}
input,textarea{
     background-color:#ffffff;   /* light gray */
    color: #3c280c;              /* text color */
    border: 1px solid #cbd5e1;
}


.rating {
    font-size: 30px;
    cursor: pointer;
}

.star {
    color: #ccc;
}

.star.active {
    color: gold;
}

.star:hover,
.star:hover ~ .star {
    color: #ccc;
}

.success-box {
    display: none;
    background-color: #07f485;
    color: #0f5132;
    padding: 20px;
    border-radius: 8px;
    margin: 5% 20%;
    text-align: center;
}

.error {
    color: #ff4d4d;
    font-size: 13px;
    display: block;
}
